/* --- Layout --- */
.app-wrapper {
  display: grid;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'header header'
    'aside content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  background-color: #6200ee;
  color: #fff;
}

.app-header {
  grid-area: header;
}

.app-aside {
  grid-area: aside;
  background-color: #3700b3;
}

.app-content {
  grid-area: content;
  padding: 10px;
}

/* --- Reset --- */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* --- Styles --- */
